:root {
  color-scheme: light dark;
  /* color-scheme: only light; */
  /* color-scheme: only dark; */

  --bg: #fff;
  --text: #555;
  --countdown: #111;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ccc;
    --text: #000;
    --countdown: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --text: #ccc;
    --countdown: #fff;
  }
}

body {
  margin: 0;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}
img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
#redirect-text {
  margin-top: 24px;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0.05em;
}
#countdown {
  display: inline-block;
  color: var(--countdown);
  font-weight: bold;
  font-size: 22px;
  min-width: 4ch;
}
